#project-management-view
#project-management-detail-view
  %h3
    Welcome to Project Management Tool, click on Status to see current status of tasks.
%input{type: 'hidden', id:'user_id', value: current_user.id}
%input{type: 'hidden', id:'admin', value: "#{current_user.admin}"}